################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pazymiai/.vs/Pazymiai
/Pazymiai/x64/Debug
/Pazymiai/x64/Release
/Pazymiai/studentai10000.txt
/Pazymiai/studentai100000.txt
/Pazymiai/studentai1000000.txt
/Pazymiai/kursiokai.txt
/Pazymiai/Kursiokai0.txt
/Pazymiai/Kursiokai1.txt
/Pazymiai/Kursiokai2.txt
/Pazymiai/Kursiokai3.txt
/Pazymiai/Kursiokai4.txt
