################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pazymiai/.vs/Pazymiai
/Pazymiai/x64/Debug
/Pazymiai/x64/Release
