################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pazymiai/.vs/Pazymiai
/Pazymiai/x64/Debug
/Pazymiai/x64/Release
/Pazymiai/studentai10000.txt
/Pazymiai/studentai100000.txt
/Pazymiai/studentai1000000.txt
